---
import Layout from "../layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import Servicios from "@/sections/Servicios.astro";
import Productos from "@/sections/Productos.astro";
import Clientes from "@/sections/Clientes.astro";
---

<Layout title="VIANHE - Portones Cortafuego">
  <main>
    <Header />
    <Hero />
    <Info />
    <Servicios />
    <Productos />
    <Clientes />
  </main>
</Layout>

<style></style>
