---

---

<section
  class="hidden md:flex flex-col h-96 p-4 w-full bg-black relative p-4 overflow-hidden"
>
  <h2 class="text-white font-bold text-center mb-8">Nuestros Clientes</h2>
  <!-- Secci贸n 1 -->
  <div id="seccion1" class="container-central section-active w-full">
    <div class="flex items-center justify-between p-2">
      <div class="client-container">
        <img class="logo" src="/clientes/bautec.webp" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/enobra.png" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/peugeot.avif" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/vaccaro.webp" alt="Logo Cliente" />
      </div>
    </div>
    <div class="flex items-center justify-between p-2">
      <div class="client-container">
        <img
          class="logo logo-invert"
          src="/clientes/caputo.png"
          alt="Logo Cliente"
        />
      </div>
      <div class="client-container">
        <img
          class="logo logo-invert rounded-full"
          src="/clientes/ulma.png"
          alt="Logo Cliente"
        />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/pastorino.png" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img
          class="logo logo-invert rounded-full"
          src="/clientes/diclap.jpeg"
          alt="Logo Cliente"
        />
      </div>
    </div>
  </div>

  <!-- Secci贸n 2 -->
  <div id="seccion2" class="container-central section-hidden w-full">
    <div class="flex items-center justify-between p-2">
      <div class="client-container">
        <img class="logo" src="/clientes/bautec.webp" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/enobra.png" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/peugeot.avif" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/vaccaro.webp" alt="Logo Cliente" />
      </div>
    </div>
    <div class="flex items-center justify-between p-2">
      <div class="client-container">
        <img
          class="logo logo-invert"
          src="/clientes/caputo.png"
          alt="Logo Cliente"
        />
      </div>
      <div class="client-container">
        <img
          class="logo logo-invert rounded-full"
          src="/clientes/ulma.png"
          alt="Logo Cliente"
        />
      </div>
      <div class="client-container">
        <img class="logo" src="/clientes/pastorino.png" alt="Logo Cliente" />
      </div>
      <div class="client-container">
        <img
          class="logo logo-invert rounded-full"
          src="/clientes/diclap.jpeg"
          alt="Logo Cliente"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .logo {
    max-width: 11rem;
  }
  .logo-invert {
    filter: invert(100%) brightness(200%);
  }

  /* Clases para la transici贸n y superposici贸n */
  .section-active {
    opacity: 1;
    visibility: visible;
    position: relative;
    transition: opacity 3s ease-in-out;
  }
  .section-hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s ease-in-out;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const seccion1 = document.getElementById("seccion1");
    const seccion2 = document.getElementById("seccion2");
    let isSeccion1Visible = true;

    setInterval(() => {
      if (isSeccion1Visible) {
        seccion1.classList.replace("section-active", "section-hidden");
        seccion2.classList.replace("section-hidden", "section-active");
      } else {
        seccion2.classList.replace("section-active", "section-hidden");
        seccion1.classList.replace("section-hidden", "section-active");
      }
      isSeccion1Visible = !isSeccion1Visible;
    }, 8000); // 5 segundos
  });
</script>
