---
import MailImg from "@/components/MailImg-black.astro";
import Phone from "@/components/Phone-black.astro";
import Insta from "@/components/Instagram-Logo.astro";
import Face from "@/components/Facebook.astro";
---

<section class="contactNav">
  <div class="container-central">
    <div class="flex items-center justify-center md:justify-end">
      <div
        class="flex items-start justify-between md:flex-row items-center justify-center"
      >
        <!-- Teléfono -->
        <a href="tel:46548794" id="phone" class="flex items-center mr-4">
          <Phone />
          <p class="hidden md:flex poppins-medium text-white m-0 text-xs pl-1">
            4654-8794 | 4654-7065
          </p>
        </a>
        <!-- Email -->
        <a
          href="mailto:info@vianhe.com"
          id="mail"
          class="flex items-center mr-4"
        >
          <MailImg />
          <p class="hidden md:flex poppins-medium text-white m-0 text-xs pl-1">
            info@vianhe.com
          </p>
        </a>
      </div>
      <div class="flex items-start md:flex-row items-center justify-center">
        <!-- Instagram -->
        <a
          href="https://instagram.com/vianhe_"
          target="_blank"
          id="insta"
          class="flex items-center mr-4"
        >
          <Insta />
          <p class="hidden md:flex poppins-medium text-white m-0 text-xs">
            vianhe_
          </p>
        </a>
        <!-- Facebook -->
        <a
          href="https://facebook.com/share/18WYQzWQ6o/?mibextid=LOQJ4d"
          target="_blank"
          id="face"
          class="flex items-center mr-4"
        >
          <Face />
          <p class="hidden md:flex poppins-medium text-white m-0 text-xs">
            vianhe sa
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
<style>
  .contactNav {
    background-color: #310480;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.549);
    padding: 8px;
  }
  .contactNav a {
    text-decoration: none;
  }
</style>
