---
import MailImg from "@/components/MailImg-black.astro";
import Phone from "@/components/Phone-black.astro";
import Insta from "@/components/Instagram-Logo.astro";
import Face from "@/components/Facebook.astro";
---

<section class="footer">
  <div class="container-central">
    <div class="flex items-center justify-center md:justify-center">
      <div
        class="flex items-start justify-between md:flex-row items-center justify-center"
      >
        <!-- Teléfono -->
        <a href="tel:46548794" id="phone" class="flex items-center m-2">
          <Phone />
          <p class="hidden md:flex font-semibold text-white m-0">
            4654-8794 | 4654-7065
          </p>
        </a>
        <!-- Email -->
        <a
          href="mailto:info@vianhe.com"
          id="mail"
          class="flex items-center m-2"
        >
          <MailImg />
          <p class="hidden md:flex font-semibold text-white m-0">
            info@vianhe.com
          </p>
        </a>
      </div>
      <div class="flex items-start md:flex-row items-center justify-center">
        <!-- Instagram -->
        <a
          href="https://instagram.com/vianhe_"
          target="_blank"
          id="insta"
          class="flex items-center m-2"
        >
          <Insta />
          <p class="hidden md:flex font-semibold text-white m-0">vianhe_</p>
        </a>
        <!-- Facebook -->
        <a
          href="https://facebook.com/share/18WYQzWQ6o/?mibextid=LOQJ4d"
          target="_blank"
          id="face"
          class="flex items-center m-2"
        >
          <Face />
          <p class="hidden md:flex font-semibold text-white m-0 pl-1">
            Vianhe SA
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="footer-add-two">
  <div class="container-central">
    <div class="flex items-center justify-center w-full pt-2">
      <ul class="text-white text-sm font-semibold mr-8">
        <li class="p-1">
          <a href="#home">Home</a>
        </li>
        <li class="p-1">
          <a href="#servicios">Servicios</a>
        </li>
        <li class="p-1">
          <a href="#productos">Productos</a>
        </li>
        <li class="p-1">
          <a href="#contacto">Contacto</a>
        </li>
      </ul>
      <ul class="text-white text-sm font-semibold mt-4">
        <li class="p-1">Portones Cortafuego</li>
        <li class="p-1">Puertas Cortafuego</li>
        <li class="p-1">Vidrios Cortafuego</li>
        <li class="p-1">Seccion Aluminio</li>
        <li class="p-1">Seccion Madera</li>
      </ul>
    </div>
  </div>
</section>
<section class="footer-add">
  <div class="container-central">
    <div class="flex items-center justify-center">
      <img src="/logo.png" alt="Logo Vianhe" class="logo" />
    </div>
  </div>
</section>
<section class="footer-add-tree">
  <div class="container-central">
    <div class="flex items-center justify-center">
      <div class="flex items-center justify-center">
        <p class="font-semibold text-white m-0">©Codeblitz - 2024</p>
      </div>
    </div>
  </div>
</section>

<style>
  .footer {
    background-color: #4880bd;
  }
  .footer-add {
    background-color: #ffffff;
  }
  .footer-add-two {
    background-color: #330485;
  }
  .footer-add-two a {
    text-decoration: none;
    color: #ffffff;
  }
  .footer-add-tree {
    background-color: black;
  }
  .footer a {
    text-decoration: none;
  }
  .logo {
    max-width: 8rem;
    padding: 10px;
  }
</style>
