---
import img from "/public/logo.png";
import Image from "astro/components/Image.astro";
import Phone from "@/components/Phone.astro";
import MailImg from "@/components/MailImg.astro";
import MenuIcon from "@/components/MenuHamburguesaIcono.astro";
---

<!-- <section class="header bg-blue">
  <div class="container-central">
    <div
      class="container sd:mx-auto flex items-center justify-end md:justify-end"
    >
      <ul class="p-2">
        <li class="flex items-center justify-end">
          <Phone />
          <a
            class="text-white font-bold text-sm ml-1 no-underline md:hidden"
            href="tel:4654-8794">4654-8794</a
          >
          <a
            class="sd: hidden md:flex text-white font-bold text-lg ml-1 no-underline"
            href="tel:4654-8794"
            >4654-8794 | 4654-7065
          </a>
        </li>
      </ul>
      <ul class="p-2">
        <li class="flex items-center justify-center">
          <MailImg />
          <a
            class="text-white font-bold text-sm ml-1 no-underline md:text-lg"
            href="mailto:info@vianhe.com;">info@vianhe.com</a
          >
        </li>
      </ul>
      <button
        class="hidden text-white font-bold bg-purple md:flex p-2 rounded-md drop-shadow-md"
        >CONTACTENOS</button
      >
    </div>
  </div>
</section> -->
<section class="header-nav p-2 overflow-x-hidden">
  <div class="container-central">
    <div class="container sd:mx-auto">
      <nav class="flex p-2 items-start justify-between md:items-center">
        <div class="flex-shrink-0 md:flex-wrap">
          <a class="" href="#">
            <Image src={img} alt="Vianhe Logo" />
          </a>
        </div>
        <div
          id="nav"
          class="hidden md:flex items-center justify-center space-x-4 ml-auto font-bold"
        >
          <a
            class="no-underline text-purple ml-6 poppins-medium"
            href="#portones">Portones Cortafuego</a
          >
          <a class="no-underline text-purple poppins-medium" href="#puertas"
            >Puertas Cortafuego</a
          >
          <a class="no-underline text-purple poppins-medium" href="#servicios"
            >Servicios</a
          >
          <a class="no-underline text-purple poppins-medium" href="#productos"
            >Productos</a
          >
          <a class="no-underline text-purple poppins-medium" href="#contacto"
            ><button
              class="hidden text-white font-bold bg-purple poppins-medium md:flex p-2 drop-shadow-xl"
              >CONTACTENOS</button
            ></a
          >
        </div>
        <div class="flex-shrink-0">
          <MenuIcon />
        </div>
      </nav>
    </div>
  </div>
</section>
<style></style>
<script is:inline src="/scripts/menuToggle.js"></script>
