---
import img from "/public/logo.png";
import Image from "astro/components/Image.astro";
import MenuIcon from "@/components/MenuHamburguesaIcono.astro";
---

<section class="header-nav p-2 overflow-x-hidden">
  <div class="container-central">
    <div class="container sd:mx-auto">
      <nav class="flex p-2 items-start justify-between md:items-center">
        <div class="flex-shrink-0 md:flex-wrap">
          <a class="" href="#">
            <Image src={img} alt="Vianhe Logo" />
          </a>
        </div>
        <div
          id="nav"
          class="hidden md:flex items-center justify-center space-x-4 ml-auto font-bold"
        >
          <a
            class="no-underline text-purple ml-6 poppins-medium"
            href="#portones">Portones Cortafuego</a
          >
          <a class="no-underline text-purple poppins-medium" href="#puertas"
            >Puertas Cortafuego</a
          >
          <a class="no-underline text-purple poppins-medium" href="#servicios"
            >Servicios</a
          >
          <a class="no-underline text-purple poppins-medium" href="#productos"
            >Productos</a
          >
          <a class="no-underline text-purple poppins-medium" href="#contacto"
            ><button
              class="hidden text-white font-bold bg-purple poppins-medium md:flex p-2 drop-shadow-xl"
              >CONTACTENOS</button
            ></a
          >
        </div>
        <div class="flex-shrink-0">
          <MenuIcon />
        </div>
      </nav>
    </div>
  </div>
</section>
<style></style>
<script is:inline src="/scripts/menuToggle.js"></script>
