---
import img from "/public/logo.png";
import Image from "astro/components/Image.astro";
import Phone from "@/components/Phone.astro";
import MailImg from "@/components/MailImg.astro";
import MenuIcon from "@/components/MenuHamburguesaIcono.astro";
---

<section class="header bg-blue p-3">
  <div class="container-central">
    <div class="container sd:mx-auto flex items-center justify-around">
      <ul>
        <li class="flex items-center justify-end">
          <Phone />
          <a class="text-white font-bold" href="tel:4654-8794">4654-8794</a>
        </li>
      </ul>
      <ul>
        <li class="flex items-center justify-center">
          <MailImg />
          <a class="text-white font-bold" href="mailto:info@vianhe.com;"
            >info@vianhe.com</a
          >
        </li>
      </ul>
      <button
        class="hidden text-white font-bold bg-purple md:flex p-2 rounded-md drop-shadow-md"
        >CONTACTENOS</button
      >
    </div>
  </div>
</section>
<section class="header-nav p-2">
  <div class="container-central">
    <div class="container sd:mx-auto">
      <nav class="flex justify-between">
        <div>
          <a href="#">
            <Image src={img} alt="Vianhe Logo" />
          </a>
        </div>
        <div class="hidden md:flex">
          <a href="#portones">Portones Cortafuego</a>
          <a href="#puertas">Puertas Cortafuego</a>
          <a href="#servicios">Servicios</a>
          <a href="#productos">Productos</a>
          <a href="#contacto">Contacto</a>
        </div>
        <div>
          <MenuIcon />
        </div>
      </nav>
    </div>
  </div>
</section>
<style></style>
<script is:inline src="/scripts/menuToggle.js"></script>
