---
import Mouse from "@/components/MouseScrollIcon.astro";
---

<section id="home" class="m-2 sm:m-4 lg:m-8">
  <div class="container-central">
    <div class="hidden xl:flex absolute top-3/4 left-1/2 z-10">
      <Mouse />
    </div>
    <div
      id="carouselExampleCaptions"
      class="carousel slide mx-2 sm:mx-4 lg:mx-auto"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/portones-cortafuegos/img1.png"
            class="d-block w-full sm: md:h-80 lg:h-screen object-cover"
            alt="Portones cortafuego 1"
          />
          <div
            class="carousel-caption d-none d-md-block text-sm sm:text-base md:text-lg lg:text-xl"
          >
            <h3 class="text-lg poppins-strong sm:text-xl md:text-2xl">
              PORTONES CORTAFUEGO
            </h3>
            <p class="text-xs poppins-ligth sm:text-sm md:text-base">
              Portones manuales contrapesados: todos los modelos de portón
              cortafuego tienen la posibilidad de abrirse y cerrarse manualmente
              como cualquier portón convencional.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/portones-cortafuegos/img2.png"
            class="d-block w-full sm: md:h-80 lg:h-screen object-cover"
            alt="Portones cortafuego 2"
          />
          <div
            class="carousel-caption d-none d-md-block text-sm sm:text-base md:text-lg lg:text-xl"
          >
            <h3 class="text-lg poppins-strong sm:text-xl md:text-2xl">
              CONSTRUCCIÓN DE LA HOJA
            </h3>
            <p class="text-xs poppins-ligth sm:text-sm md:text-base">
              Las hojas de los portones cortafuego VIANHE están realizadas en
              doble chapa de acero de las mismas características, forma
              constructiva y aislación térmica, para todas nuestras puertas
              cortafuego.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/portones-cortafuegos/img3.png"
            class="d-block w-full sm: md:h-80 lg:h-screen object-cover"
            alt="Portones cortafuego 3"
          />
          <div
            class="carousel-caption d-none d-md-block text-sm sm:text-base md:text-lg lg:text-xl"
          >
            <h3 class="text-lg poppins-strong sm:text-xl md:text-2xl">
              CERTIFICADOS POR EL I.N.T.I.
            </h3>
            <p class="text-xs poppins-ligth sm:text-sm md:text-base">
              De acuerdo a la normativa a nivel nacional. Nuestros portones
              están construidos y ensayados según normas IRAM. 11949-11950 y
              11951. La clasificación de resistencia al fuego es según la
              aislación aprobada en el INTI RF-60.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
