---
import { Image } from "astro:assets";
import img1 from "../../public/puertas-cortafuego/img3.jpg";
import img2 from "../../public/portones-cortafuegos/img4.jpg";
---

<section id="portones" class="h-full p-4 bg-blue text-white">
  <div class="container-central h-full">
    <article class="h-full md:flex items-center justify-start">
      <div
        class="flex flex-col items-center justify-center md:items-start justify-start"
      >
        <h2 class="poppins-medium drop-shadow-lg md:text-left ml-2">
          Portones Cortafuego
        </h2>
        <p class="sm:text-center poppins-ligth md:text-left md:pr-10 ml-2 pt-8">
          Las hojas de los portones cortafuego VIANHE están realizadas en doble
          chapa de acero de las mismas características, forma constructiva y
          aislación térmica que fueran aplobadas por el I.N.T.I. para todas
          nuestras puertas cortafuego.
        </p>
        <p
          class="sm:text-center poppins-ligth pr-2 md:text-left md:pr-10 ml-2 pt-4"
        >
          Portones manuales contrapesados: todos los modelos de portón
          cortafuego tienen la posibilidad de abrirse y cerrarse manualmente
          como cualquier portón convencional.
        </p>
        <button class="poppins-strong drop-shadow-lg text-white mt-8 ml-2 btn">
          Conocer mas...
        </button>
      </div>
      <Image
        src={img2}
        alt="Imagen de puerta"
        class="hidden md:flex w-2/4 p-4 h-2/4 drop-shadow-lg"
      />
    </article>
  </div>
</section>
<section id="puertas" class="h-full p-4 bg-purple text-white">
  <article class="container-central h-full md:flex items-center justify-center">
    <Image
      src={img1}
      alt="Imagen de puerta"
      class="p-4 h-2/4 drop-shadow-lg md:w-2/4 h-2/4"
    />
    <div
      class="flex flex-col items-center justify-center md:items-start justify-start"
    >
      <h2
        class="sm:text-center poppins-medium drop-shadow-lg md:text-left md:pl-10"
      >
        Puertas Cortafuego
      </h2>
      <p class="sm:text-center poppins-ligth pl-2 md:text-left md:pl-10 pt-8">
        Las Puertas Cortafuego VIANHE han sido diseñadas y construidas para
        resistir al fuego sin permitir el paso de humos, llamas y temperatura
        cumpliendo con los criterios establecidos en las normas IRAM
        11949,11950,11951 y 11952 / ISO 834.
      </p>
      <p
        class="sm:text-center poppins-ligth pl-2 md:text-left md:pl-10 pr-10 pt-4"
      >
        Las Puertas Cortafuego VIANHE poseen certificado de aprobación extendido
        por el I.N.T.I. (Instituto Nacional de Tecnología Industrial) como
        resultado de haber superado los ensayos que este ente nacional realiza
        según los requerimientos de las citadas normas IRAM.
      </p>
      <button
        class="poppins-strong drop-shadow-lg text-white mt-8 btn md:ml-10"
      >
        Conocer mas...
      </button>
    </div>
  </article>
</section>
<style>
  .btn {
    transition: transform 0.4s;
    background-color: #b2b089;
  }
  .btn:hover {
    transform: scale(1.1);
    background-color: #969572;
  }
</style>
