---

---

<section id="productos" class="h-full flex items-start justify-center bg-black">
  <div
    class="container-central flex flex-col items-center justify-center px-4 py-4"
  >
    <h2 class="text-white pb-4">Nuestros Productos</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 px-8 text-center">
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/portones-cortafuegos/img4.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Portones Cortafuego</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <!-- <button class="p-2 bg-purple rounded drop-shadow-lg">
              Mas Info
            </button> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puertas-cortafuego/img1.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Puerta Cortafuego</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <!-- <button class="p-2 bg-purple rounded drop-shadow-lg">
              Mas Info
            </button> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puerta-aluminio.jpeg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Puertas de Aluminio</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <!-- <button class="p-2 bg-purple rounded drop-shadow-lg">
              Mas Info
            </button> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puerta-placa/img1.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Puertas de Madera</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <!-- <button class="p-2 bg-purple rounded drop-shadow-lg">
              Mas Info
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style></style>
