---

---

<!-- Version SD -->
<section id="productos" class="h-full flex items-start justify-center bg-black">
  <div
    class="sd:container-central flex flex-col items-center justify-center px-4 py-4 md:hidden"
  >
    <h2 class="text-white pb-4 poppins-strong">Nuestros Productos</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 px-8 text-center">
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/portones-cortafuegos/img4.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title poppins-medium">Portones Cortafuego</h5>
            <p class="card-text poppins-ligth">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puertas-cortafuego/img1.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title poppins-strong">Puerta Cortafuego</h5>
            <p class="card-text poppins-ligth">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puerta-aluminio.jpeg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title poppins-strong">Puertas de Aluminio</h5>
            <p class="card-text poppins-ligth">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
          <a href="">
            <img
              src="/puerta-placa/img1.jpg"
              class="card-img-top h-96"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title poppins-strong">Puertas de Madera</h5>
            <p class="card-text poppins-ligth">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Version MD LG -->
<section
  id="productos"
  class="sd: hidden md:flex items-start justify-center color py-12"
>
  <div class="container-central flex flex-col items-center justify-center">
    <h2 class="mb-6 text-white poppins-strong">Nuestros Productos</h2>
    <div class="flex items-center justify-center flex-wrap py-32">
      <!-- -->
      <div class="flip-box mx-4 my-2 drop-shadow-lg">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="/portones-cortafuegos/img4.jpg" alt="" class="img" />
          </div>
          <div class="flip-box-back">
            <h2 class="mt-4 poppins-medium">Portones Cortafuegos</h2>
            <p class="p-4 text-left poppin-light">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
              enim earum unde? Quod blanditiis alias facilis laudantium hic
              eius?
            </p>
            <button class="p-2 btnColor drop-shadow-lg poppins-medium"
              >Mas Info</button
            >
          </div>
        </div>
      </div>
      <!-- -->
      <!-- -->
      <div class="flip-box mx-4 my-2 drop-shadow-lg">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="/puertas-cortafuego/img1.jpg" alt="" class="img" />
          </div>
          <div class="flip-box-back">
            <h2 class="mt-4 poppins-medium">Puertas Cortafuegos</h2>
            <p class="p-4 text-left poppin-light">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
              enim earum unde? Quod blanditiis alias facilis laudantium hic
              eius?
            </p>
            <button class="p-2 btnColor drop-shadow-lg poppins-medium"
              >Mas Info</button
            >
          </div>
        </div>
      </div>
      <!-- -->
      <!-- -->
      <div class="flip-box mx-4 my-2 drop-shadow-lg">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="/puerta-aluminio.jpeg" alt="" class="img" />
          </div>
          <div class="flip-box-back">
            <h2 class="mt-4 poppins-medium">Puertas de Aluminio</h2>
            <p class="p-4 text-left poppin-light">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
              enim earum unde? Quod blanditiis alias facilis laudantium hic
              eius?
            </p>
            <button class="p-2 btnColor drop-shadow-lg poppins-medium"
              >Mas Info</button
            >
          </div>
        </div>
      </div>
      <!-- -->
      <!-- -->
      <div class="flip-box mx-4 my-2 drop-shadow-lg">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="/puerta-placa/img1.jpg" alt="" class="img" />
          </div>
          <div class="flip-box-back">
            <h2 class="mt-4 mx-2 poppins-medium">Puertas de Madera</h2>
            <p class="p-4 text-left poppin-light">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
              enim earum unde? Quod blanditiis alias facilis laudantium hic
              eius?
            </p>
            <button class="p-2 btnColor drop-shadow-lg poppins-medium"
              >Mas Info</button
            >
          </div>
        </div>
      </div>
      <!-- -->
    </div>
  </div>
</section>
<style>
  .color {
    filter: brightness(0.9);
    background-image: url("/bdt.svg");
    background-attachment: fixed; /* Crea el efecto parallax */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #330485;
  }
  .flip-box {
    background-color: transparent;
    width: 250px;
    height: 480px;

    perspective: 1000px;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  .flip-box-back {
    background-color: #4880bd;
    color: white;
    transform: rotateY(180deg);
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btnColor {
    background-color: #b2b089;
  }
</style>
