---

---

<section id="servicios" class="h-full py-8 md:p-12">
  <div class="container-central">
    <div class="flex flex-col items-center justify-center flex-wrap">
      <h2 class="text-black text-center px-4 py-2">
        Servicios Personalidos a la medida del Cliente
      </h2>
      <div
        class="sd:flex flex-col md:flex items-center justify-center flex-row flex-wrap"
      >
        <div class="card m-4" style="width: 18rem;">
          <img
            src="/asesoramiento.jpg"
            class="card-img-top"
            alt="Servicio de Asesoramiento"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Asesoramiento</h5>
            <p class="card-text text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
              nihil quis. Eum labore ex beatae necessitatibus. Fugit error eum,
              esse pariatur laudantium porro aliquam eveniet quod veritatis
              accusantium qui aperiam!
            </p>
          </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
          <img
            src="/asesoramiento.jpg"
            class="card-img-top"
            alt="Servicio de Instalacion"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Instalacion</h5>
            <p class="card-text text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
              nihil quis. Eum labore ex beatae necessitatibus. Fugit error eum,
              esse pariatur laudantium porro aliquam eveniet quod veritatis
              accusantium qui aperiam!
            </p>
          </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
          <img src="/asesoramiento.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">Servicio Post-venta</h5>
            <p class="card-text text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
              nihil quis. Eum labore ex beatae necessitatibus. Fugit error eum,
              esse pariatur laudantium porro aliquam eveniet quod veritatis
              accusantium qui aperiam!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img
        class="sd: w-36"
        src="/certificaciones/iram.png"
        alt="Muestra la imagen de la certificacion IRAM"
      />
      <img
        class="sd: w-40"
        src="/certificaciones/iso.png"
        alt="Muestra la imagen de la certificacion ISO"
      />
    </div>
  </div>
</section>
<style>
  .card {
    border: 1px solid rgba(55, 55, 55, 0.766);
    box-shadow: 1px 2px rgb(55, 55, 55);
  }
</style>
